{% extends 'base_content.html' %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5dc; /* Beige background */
        color: #333; /* Dark font color */
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px; /* Increased margin for better spacing */
    }

    h2 {
        margin-top: 20px;
    }

    h3 {
        font-size: 18px; /* Font size */
        margin-bottom: 5px; /* Adjusted margin for better spacing */
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    .submit-button {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #5c92a3; /* Desired blue-green color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, sans-serif; /* Font family */
        font-size: 16px; /* Font size */
    }

    .submit-button:hover {
        background-color: #47697b; /* Darker blue-green on hover */
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Items to Remember for {{ place.name }}</h1>
            <h2>These are the things you forget the most when you go to {{ place.name }}, make sure you take them!</h2>
            <form id="itemsForm" method="post">
                {% csrf_token %}
                <ul>
                    {% for item in items %}
                    <li>
                        <label for="item_{{ item.id }}"><h3>{{ item.name }}</h3></label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="button" id="goodToGoButton" class="submit-button">Good To Go</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
<script>
document.getElementById('goodToGoButton').addEventListener('click', function() {
    // Trigger the confetti
    confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 }
    });

    // Submit the form after a short delay
    setTimeout(function() {
        document.getElementById('itemsForm').submit();
    }, 1000); // Adjust the delay here as needed
});
</script>
{% endblock %}
