{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Items to Remember for {{ place.name }}</h1>
            <h2>These are the things you forget the most when you go to {{place.name}}, make sure you take them!</h2>
            <form id="itemsForm" method="post">
                {% csrf_token %}
                <ul>
                    {% for item in items %}
                    <li>
                        <label for="item_{{ item.id }}"><h3>{{ item.name }}</h3></label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="button" id="goodToGoButton">Good To Go</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
<script>
document.getElementById('goodToGoButton').addEventListener('click', function() {
    // Trigger the confetti
    confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 }
    });

    // Submit the form after a short delay
    setTimeout(function() {
        document.getElementById('itemsForm').submit();
    }, 1000); // Adjust the delay here as needed
});
</script>
{% endblock %}
