{% extends 'base.html' %}

{% block body %}
<div class="container vh-100">
  <div class="row h-100">
    <div class="col-12 my-auto">
      <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
        <p class="cover-text">Please provide information about the places you visit and the items you usually carry.</p>
        <form method="post">
          {% csrf_token %}
          <!-- Place form -->
          <div class="form-group">
            <label for="place_name">Place Name:</label>
            <input type="text" name="place_name" id="place_name" class="form-control" required>
          </div>
          <!-- Items form -->
          <div id="items_fields">
            <div class="form-group">
              <label for="item_name">Item Name:</label>
              <input type="text" name="item_name" class="form-control" required>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-secondary" onclick="addItemField()">+ Add Item</button>
          <br><br>
          <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function addItemField() {
    // Create a new item field
    var newItemField = document.createElement('div');
    newItemField.innerHTML = `
      <div class="form-group">
        <label for="item_name">Item Name:</label>
        <input type="text" name="item_name" class="form-control" required>
      </div>
    `;
    // Append the new item field to the items_fields container
    document.getElementById('items_fields').appendChild(newItemField);
  }
</script>
{% endblock %}